/*
* styles.styl just as example
*/
@import 'variables'

body
  font 14px $fonts

h4, p
  margin 0

.admin_panel
  background $panel
  border 1px solid #c0c0c0
  border-radius 3px
  width 500px
  margin 10px 0
  h4
    padding 8px 16px
    &:hover
      color #5e5e5e
      cursor pointer
  .content
    background #ffffff